<footer class="page-footer font-small blue-grey lighten-5 footColor footer t2">


    <div style="color:gray;" >
        <a class="fb-ic" >
            <i class="fab fa-facebook-f white-text mr-4" > </i>
        </a>

        <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
        </a>

        <a class="gplus-ic">
            <i class="fab fa-youtube white-text mr-4"> </i>
        </a>

        

        <a class="ins-ic">
            <i class="fas fa-wifi white-text"> </i>
        </a>
    </div>



            
        <div class="row pt-4 mt-2 ml-5 mr-5 white-text">

    
    <div class="main_div container-fluid text-center text-md-left mt-1 mr-5 ml-5" >
        
    <div class="main_div container-fluid text-center text-md-left mt-1 mr-5 ml-7">



        <div class="row mt-2 dark-grey-text">


            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <h6 class="text-uppercase font-weight-bold" class="t3">About Us</h6>
                <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a style="color: white" href="#!">Concept</a>
                </p>
                <p>
                    <a style="color: white" href="#!">Why Super Car wash</a>
                </p>
                <p>
                    <a style="color: white" href="#!">Key Benefit</a>
                </p>
                <p>
                    <a style="color: white"
                     href="#!">Career</a>
                </p>


            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" >


                <h6 class="text-uppercase font-weight-bold" class="t3">Services</h6>
                <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a style="color: white" href="#!">Cleaning Process</a>
                </p>
                <p>
                    <a style="color: white" href="#!">Car Wash Program</a>
                </p>
                <p>
                    <a style="color: white" href="#!">Car Detailing</a>
                </p>
              

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2" >


                <h6 class="text-uppercase font-weight-bold" class="t3">Franchisee</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a style="color: white" href="#!">Franchisee Business</a>
                </p>
                <p>
                    <a style="color: white" href="#!">Apply Online</a>
                </p>
                <p>
                    <a style="color: white" href="#!">Download</a>
                </p>
                <p>
                    <a style="color: white" href="#!">FAQs</a>
                </p>

            </div>

            



            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">


                <h6 class="text-uppercase font-weight-bold" class="t3">Super Special</h6>
                <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;" >

                <p style="color: white">
                    <i class="fas fa-envelope mr-3"></i> Refers Friends</p>
                <p style="color: white">
                    <i class="fas fa-phone mr-3"></i>News</p>
                <p style="color: white">
                    <i class="fas fa-print mr-3"></i>Press</p>

           

            <form>
                <div class="form-row align-items-center">
                    <div class="input-group">
                        <input type="text" class="form-control" style="font-weight:20 ; font-size: 13px;   border-radius: 20px 0px 0px 20px;" id="inlineFormInputGroupUsername" placeholder="Your E-mail Address">
                      <div class="input-group-prepend">
                        <div class="input-group-text" style="background-color: orange; width: 50px; border-radius:0px 20px 20px 0px ;"></div>
                      </div>
                    </div>
                  </div>
                  
                
              </form>

            </div>



           

              

           

        </div>

    </div>
    </div>
        </div>




        <div style="color:gray;" >
            <a class="fb-ic">
                <i class="fab fa-facebook-f white-text mr-4" > </i>
            </a>
    
            <a class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
    
            <a class="gplus-ic">
                <i class="fab fa-youtube white-text mr-4"> </i>
            </a>
    
            
    
            <a class="ins-ic">
                <i class="fas fa-wifi white-text"> </i>
            </a>
        </div>
    
    <div class="footer-copyright text-center text-gray-50 py-3 ">Copyright:
        <a style="color: red" href="#!">SuperCar Wash</a>
    </div>
    
    

    

    


</footer>