<img src="../../assets/images/concept.jpg" width="100%" height="700px">
<div class="row" style="border:1px solid black; margin-right: auto;background-image: linear-gradient(to right top, #0f0d0d, #100e0e, #100e0e, #110f0f, #110f0f); ">
    <div class="col-md-6">
        <div class="left-abt" style="margin-top: 19px; margin-bottom: 19px;">
            <span class="color">Concept</span>
        </div>
    </div>
    </div>
    <div class="row" style="border: 1px solid black; margin-right: auto; background-image: linear-gradient(to right top, #e4e8ed, #cfd7da, #bcc6c5, #adb5b0, #a1a39b);">
        <div class="abt-bg-und">
            <div class="col-md-7 col-sm-6 col-xs-12" style="margin-left: 350px;">
                <div class="lft-contr" >
                    <div style="background-image: linear-gradient(to right top, #dbe1eb, #d8e4e9, #dbe6e5, #e0e7e3, #e6e7e3); width:100%; padding:20px;">
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Super Car wash is a "REVOLUTION” in automobile cleaning and detailing market. If you are still in doubt that Super Car wash is only about "Car cleaning" - Think Again. We do a lot more than this. Moreover, our experts and fully trained staff has always used the best solutions to effectively and safely maintain the appearance of your automobile. We were among the first in India to offer such car detailing services which is designed in a way that we meet the requirement of the customers pertaining to both quality and timely delivery of service.<br>
 
                            <br>
                            At Super Car wash, we treat our every client as our priority client, and we assure to deliver Industry’s best cleaning and detailing solutions at reasonable rates.<br>
                           
                            <br>We have a strong belief that our efforts will not only please you, but will definitely surprise you and will make you experience the “REVOLUTION” in the cleaning Industry.<br>
                           
                            <br>Come to Super Car wash and feel the difference in your car and get the most of it
                            <strong>just 20 minutes</strong></p>
                            <h5 style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Why Our Customers Love Us</h5>
                           
                           <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Car owners in India today primarily have two options for Car Detailing and washing:-</p>
                            <br>
                            <br>
                            <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                                Authorized Service and Washing Centers of Car Manufacturers
                            </strong>
                            <br>
                            <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">They have large infrastructure, in terms of real estate, staff, overheads etc.,
                             and they pass on their higher costs to their customers,
                              who have to settle for heavily overpriced services.</p>
                              <br>
                              <br>
                              <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Independent Garages & Roadside Garages </strong>
                              <br>
                             <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;"> While the roadside garages offer cheaper services, they are highly unorganized,
                               usually with labor that is not adequately trained on the
                               ever-increasing and technologically advanced brands and make of cars today.</p>
                               <br>
                               <br>
                               <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">In both the cases the problem of shoddily done jobs, lack of professionalism,
                                lack of transparency in operations is aplenty. Long wait periods to get an
                                appointment and to get the job done at the authorized service centers are also very common.</p>
                                <span class="abt-btm" style="font-family: 'Times New Roman', Times, serif; font-size: 20px;"> Simply - “Customers Want An Alternative …….. We Provide It”</span>
                                <br>
                                <br>
                               <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;"> Super Car Wash is a tribute to the cleaning industry, by Manmachine and
                                 is set to redefine the car wash business with customer satisfaction as its number one goal. </p>
                                 <br>
                                 <br>
                                 <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Why Anybody Who Has a Car, Need “Exppress Car Wash”</strong>
                                 <ul class="franchise2" style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                                     <li>
                                         <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Location Freedom:</strong>
                                         Nationwide chain of car wash units
                                     </li>
                                     <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Professional Car Cleaning:</strong>
                                        Trained operators
                                    </li>
                                    <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Time Saving:</strong>
                                        Just in 20 minutes ( For Exppress 1)
                                    </li>
                                    <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Underbody Cleaning Without Gantry Lift:</strong>
                                        No risk of wheel misalignment
                                    </li>
                                    <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Touch-Less Cleaning:</strong>
                                        Scratch proof cleaning
                                    </li>
                                    <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Commitment To Environment:</strong>
                                        Eco friendly chemicals for cars
                                    </li>
                                    <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Engine Steam Wash:</strong>
                                        Without disturbing delicate engine circuitry
                                    </li>
                                    <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Liquid Wax (Euro Standard):</strong>
                                        Maximum long lasting shine
                                    </li>
                                    <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">No Physical Rubbing Or Wiping On Car Body:</strong>
                                        Scratch proof cleaning
                                    </li>
                                    <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Well Defined Process:</strong>
                                        Ensuring quality
                                    </li>
                                    <li>
                                        <strong style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Customer Lounges With Excellent Ambience:</strong>
                                        Ensuring customer comfort
                                    </li>
 
 
                                 </ul>
                    </div>
 
                </div>
            </div>
        </div>
 
    </div>